101 ICON "..\\..\\src\\CrystalFolders\\Folders\\Purple - Pixie Folders N1.ico"
102 ICON "..\\..\\src\\CrystalFolders\\Folders\\Aqua - Pixie Folders N1.ico"
103 ICON "..\\..\\src\\CrystalFolders\\Folders\\Blue - Pixie Folders N1.ico"
104 ICON "..\\..\\src\\CrystalFolders\\Folders\\Yellow - Pixie Folders N1.ico"
105 ICON "..\\..\\src\\CrystalFolders\\Folders\\Pink - Pixie Folders N1.ico"
106 ICON "..\\..\\src\\CrystalFolders\\Folders\\Black - Pixie Folders N1.ico"
107 ICON "..\\..\\src\\CrystalFolders\\Folders\\Salmon - Pixie Folders N1.ico"
